<div class="container">
	<% @tweets.each do |tweet| %>
		<%= link_to tweet.content, tweet %>
		
	<% end %>

	<%= form_with(model: @tweet, local: true) do |f|%>

		<div class="form-group">
			<%= f.text_area :content, class: "form-control" %>
		</div>
		

		<%= f.submit "Tweet", class: "btn btn-primary" %>

	<% end %>
</div>


